@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
@import "tailwindcss";

@theme {
  --color-navy-850: hsl(222 26% 31%);
  --color-navy-900: hsl(223 31% 20%);
  --color-navy-950: hsl(224 36% 15%);
  --color-navy-700: hsl(225 21% 49%);
  --color-navy-800: hsl(224 28% 35%);
  --color-red-600: hsl(6 63% 50%);
  --color-red-800: hsl(6 70% 34%);
  --color-gray-200: hsl(0 0% 90%);
  --color-gray-orange-400: hsl(28 16% 65%);
  --color-navy-750: hsl(221 14% 31%);
  --color-white: hsl(0 100% 100%);

  --color-gray-300: hsl(0 5% 81%);
  --color-gray-100: hsl(0 0% 93%);
  --color-blue-500: hsl(185 42% 37%);
  --color-blue-600: hsl(185 58% 25%);
  --color-orange-700: hsl(25 98% 40%);
  --color-orange-800: hsl(25 99% 27%);
  --color-gray-orange-450: hsl(35 11% 61%);
  --color-gray-900: hsl(60 10% 19%);

  --color-purple-950: hsl(268 75% 9%);
  --color-purple-900: hsl(268 71% 12%);
  --color-purple-800: hsl(281 89% 26%);
  --color-purple-400: hsl(285 91% 52%);
  --color-cyan-500: hsl(176 100% 44%);
  --color-cyan-400: hsl(177 92% 70%);
  --color-purple-850: hsl(268 47% 21%);
  --color-purple-750: hsl(290 70% 36%);
  --color-yellow-300: hsl(52 100% 62%);
  --color-blue-950: hsl(198 20% 13%);
}

@layer base {
  :root {
    --font-league-spartan: "League Spartan", "Segoe UI", sans-serif;
    --color-bg-main: var(--color-navy-850);
    --color-bg-toggle: var(--color-navy-900);
    --color-bg-screen: var(--color-navy-950);
    --color-text-key-secundary: var(--color-white);
    --color-key-secundary: var(--color-navy-700);
    --color-key-secundary-shadow: var(--color-navy-800);
    --color-text-key-accent: var(--color-white);
    --color-key-accent: var(--color-red-600);
    --color-key-accent-shadow: var(--color-red-800);
    --color-text-key-neutral: var(--color-navy-950);
    --color-key-neutral: var(--color-gray-200);
    --color-key-neutral-shadow: var(--color-gray-orange-400);
    --color-text-primary: var(--color-white);
    --color-text-light: var(--color-white);
  }

  .theme-2 {
    --color-bg-main: var(--color-gray-200);
    --color-bg-toggle: var(--color-gray-300);
    --color-bg-screen: var(--color-gray-100);
    --color-text-key-secundary: var(--color-white);
    --color-key-secundary: var(--color-blue-500);
    --color-key-secundary-shadow: var(--color-blue-600);
    --color-text-key-accent: var(--color-white);
    --color-key-accent: var(--color-orange-700);
    --color-key-accent-shadow: var(--color-orange-800);
    --color-text-key-neutral: var(--color-navy-950);
    --color-key-neutral: var(--color-gray-200);
    --color-key-neutral-shadow: var(--color-gray-orange-450);
    --color-text-primary: var(--color-gray-900);
    --color-text-light: var(--color-navy-950);
  }

  .theme-3 {
    --color-bg-main: var(--color-purple-950);
    --color-bg-toggle: var(--color-purple-900);
    --color-bg-screen: var(--color-purple-900);
    --color-text-key-secundary: var(--color-white);
    --color-key-secundary: var(--color-purple-800);
    --color-key-secundary-shadow: var(--color-purple-400);
    --color-text-key-accent: var(--color-white); 
    --color-key-accent: var(--color-cyan-500);
    --color-key-accent-shadow: var(--color-cyan-400);
    --color-text-key-neutral: var(--color-yellow-300);
    --color-key-neutral: var(--color-purple-850);
    --color-key-neutral-shadow: var(--color-purple-750);
    --color-text-primary: var(--color-yellow-300);
    --color-text-light: var(--color-yellow-300);
  }

  body {
    font-family: "League Spartan", "Segoe UI", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--color-bg-main);
    transition: background-color 0.3s ease-in-out;
  }
}
